body {
  color: #fff;
  background-color: #000;
}

.iat-app {
  text-align: center;
}

.iat-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.iat-title {
  font-size: 1.5em;
}

.iat-page,
.iat-footer {
  
}
